@font-face {
	font-family: "Grotesk";
	src: url("./assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Grotesk";
	src: url("./assets/fonts/SpaceGrotesk-Light.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	--horizontal-top-padding: 50px;
	--horizontal-bottom-padding: 100px;
	--extra-height: 40px;
	--gap: 16px;

	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow: hidden;
	background-image: linear-gradient(#191919 1px, transparent 1px),
		linear-gradient(90deg, #191919 1px, transparent 1px),
		linear-gradient(#0d0d0d 1px, transparent 1px),
		linear-gradient(90deg, #0d0d0d 1px, transparent 1px);
	background-size: 120px 120px, 120px 120px, 20px 20px, 20px 20px;
	font-family: "Grotesk", sans-serif;
}

@media (max-width: 500px) {
	body {
		--horizontal-top-padding: 150px;
		--horizontal-bottom-padding: 300px;
	}

	@media (min-width: 1px) and (max-aspect-ratio: 2/1) {
		body {
			--horizontal-top-padding: 100px;
			--horizontal-bottom-padding: 250px;
		}
	}
}

#root {
	width: 100%;
	height: 100%;
}

.App {
	padding: 20px;
	width: calc(100vw - 40px);
	height: calc(100vh - 40px);
}

@media (max-width: 1366px) {
	.App {
		padding: 10px;
		width: calc(100vw - 20px);
		height: calc(100vh - 20px);
	}
}

body::before {
	content: "";
	position: fixed;
	width: 100px;
	height: 100px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../public/Letters/A_3.5541800\,\ 72.8948102.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	pointer-events: none;
	z-index: 200;
}

/* lock content on rotation */
@media screen and (orientation: landscape) and (max-width: 1024px) {
	body::before {
		opacity: 1;
	}
	#root {
		transform: rotate(90deg);
		transform-origin: left top;
		width: 100vh;
		height: 100vw;
		position: absolute;
		top: 100%;
		left: 0;
		overflow-x: hidden;
	}

	.App {
		padding: 10px;
		width: calc(100vh - 20px);
		height: calc(100vw - 20px);
	}
}

@media screen and (orientation: landscape) and (min-width: 1025px) {
}
